.login {
    height: 400px;
    width: 400px;
    transform: translate(900px, 100px);
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 15px;
}

.login input {
    height: 30px;
    width: 300px;
    text-align: center;
    border: none;

}

.login button {
    border-radius: 5px;
    width: 150px;
    height: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
    font-size: large;
}

.login button:hover {
    cursor: pointer;
    background-color: antiquewhite;
}

.login a {
    color: blueviolet;
    text-decoration: none;
}

.login a:hover {
    cursor: pointer;
    text-decoration: underline;

}

h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}