.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    background-color: beige;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
}

.cheetahimg {
    width: 100px;
}

.options>a {
    text-decoration: none !important;
    font-size: 20px;
    padding: 0 30px;
}